.litmus-header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.litmus-nav {
  position: absolute;
  top: 20px;
  right: 20px;

  a {
    @include navLinks;
  }
}

.limus-logo {
  width: 150px;

  @media screen and (min-width: 600px) {
    width: 200px;
  }

  @media screen and (min-width: 768px) {
    width: 200px;
  }

  @media screen and (min-width: 1084px) {
    width: 250px;
  }

  img {
    max-width: 100%;
  }
}
