
//variables
@import "variables";

//mixins
@import "font-mixin";

//basics
@import "litmus-header";
@import "litmus-footer";

//modules
@import "modules/litmus-featured";
@import "modules/litmus-archive";
@import "modules/collapsible";
@import "modules/bte";


body {
  margin: 0;
  padding: 0;
  color: $text;
}

.litmus-section-title {
  @include sectionHeader;
  margin-bottom: 40px;
}
