.bte {
	position: relative;
	top: -40px;
	z-index: 1;
	width: calc(100% + 40px);
	max-height: 0px;
	margin-left: -20px;
  overflow: hidden;
  margin-bottom: 0;
  transition: margin-bottom .25s ease-in-out, max-height .25s ease-in-out, padding .25s ease-in-out;
	background-color: $white;

	&.bte-single {
		max-height: none;
		top: auto;
	}

	@media screen and(min-width: 600px) {
		top: -60px;
	}

	@media screen and(min-width: 768px) {
		top: -90px;
	}

	@media screen and(min-width: 1024px) {
		top: -100px;
	}

	@media screen and(min-width: 1300px) {
		top: -180px;
	}

	@media screen and(min-width: 2200px) {
		top: -230px;
	}

	 .open & {
	 		max-height: 3000px; //need the max-height in order to animate opening. Can be bumped up if a story is really long
			padding: 0;
			margin-bottom: -160px;

			@media screen and(min-width: 600px) {
				margin-bottom: -180px;
			}

			@media screen and(min-width: 768px) {
				padding: 0 0 80px;
				margin-bottom: -270px;
			}
	 }

	&__inner {
		transform: skewY(-10deg);
		position: relative;
		z-index: -1;
		max-width: 800px;
		margin: -140px auto 0;
	  padding: 160px 20px 45px;
	  overflow: hidden;

		@media screen and(min-width: 768px) {
			padding: 100px 40px 45px;
			margin: -160px auto 0;
		}

		@media screen and(min-width: 1024px) {
			padding: 100px 0 45px;
			margin: -200px auto 0;
		}

		@media screen and(min-width: 1300px) {
			padding: 140px 40px 45px;
		}

		.bte-single & {
			overflow: auto;
			z-index: 1;
		}

	}

	&__column {
		background-color: $lightGrey;
		margin: -70px 0 -70px;
		padding: 80px 20px 220px;
		line-height: 1.5em;

		.bte-single & {
			transform: none;
			position: relative;
		}

		@media screen and(min-width: 600px) {
			margin: -90px 0 -50px;
		}

		@media screen and(min-width: 768px) {
			width: 50%;
			margin: -15px 0 0;
			padding: 80px 20px 220px;
		}

		@media screen and(min-width: 1024px) {
			padding: 120px 20px 220px;
		}

		@media screen and(min-width: 1300px) {
			padding: 200px 20px 300px;
			margin: -105px 0 0;
		}
	}

	&__title {
		font-weight: bold;
	  font-family: $lato;
	  font-size: 1.2rem;
	  text-transform: uppercase;
	}

	&__logo {
		position: absolute;
		bottom: 60px;
		right: 40px;
		width: 100px;
		height: 100px;

		@media screen and(min-width: 600px) {
			bottom: 70px;
		}

		@media screen and(min-width: 768px) {
			bottom: 120px;
			right: auto;
			left: 40%;
		}

		img {
			max-width: 100%;
		}
	}

	&__quote {
		margin: 40px 0;
		text-align: center;
		color: $blue;
		font-size: 20px;
		font-weight: bold;
		line-height: 1.125em;
		font-style: italic;

		@media screen and(min-width: 600px) {
			font-size: 26px;
		}

		@media screen and(min-width: 768px) {
			position: absolute;
			left: 60%;
			top: 300px;
			width: 30%;
			margin: 0;
			font-size: 26px;
		}
	}
}

.stacked-images {
	position: relative;

	@media screen and(min-width: 600px) {
	}

	@media screen and(min-width: 768px) {
		width: 300px;
		margin: 0 auto;
	}

	&:before,
	&:after {
		display: table;
		content: "";
		clear: both;
	}

	img {
		width: calc(50% - 10px);
		display: block;

		@media screen and(min-width: 600px) {
		}

		@media screen and(min-width: 768px) {
			width: 100%;
		}
	}

	img:first-child {
		position: relative;
		z-index: 1;
		float: left;
		margin-right: 20px;
	}

	img:nth-child(2) {
		z-index: 0;

		@media screen and(min-width: 600px) {
		}

		@media screen and(min-width: 768px) {
			position: absolute;
			top: 55%;
			right: -80%;
		}
	}

	+ p {
		@media screen and(min-width: 768px) {
			width: 60%;
		}
	}
}
