.litmus-archive {
	position: relative;
	z-index: 3;
	transform: skewY(10deg);
	border-top: 20px solid $black;
	box-shadow: 0 -3px 5px rgba(0,0,0,0.3);
	background-color: $white;
	min-height: 500px;
	margin-bottom: 100px;
	margin-top: -50px;

	@media screen and (min-width: 600px) {}

	@media screen and (min-width: 768px) {
		margin-top: -100px;
	}

	@media screen and (min-width: 1024px) {
		margin-bottom: 150px;
	}

	@media screen and (min-width: 1700px) {
		margin-bottom: 200px;
	}

	@media screen and (min-width: 2200px) {
		margin-bottom: 300px;
	}

	&__inner {
		transform: skewY(-10deg);
		padding: 70px 20px 0;
	}
}

.episodes-wrapper {
	&:before,
	&:after {
		display: table;
		content: "";
		clear: both;
	}
}

.episode {

	@media screen and (min-width: 600px) {
		display: block;
		float: left;
		width: calc(50% - 20px);
		margin-right: 40px;

		&:nth-child(even) {
			margin-right: 0;
		}
	}

	@media screen and (min-width: 1024px) {
		width: calc(33% - 17px);
		margin-right: 30px;

		&:nth-child(even) {
			margin-right: 30px;
		}
		&:nth-child(3n) {
			margin-right: 0;
		}

	}

	&__art {
		position: relative;
		width: 100%;
		height: 55vw;
		overflow: hidden;

		@media screen and (min-width: 600px) {
			height: calc(50vw - 20px);
		}

		@media screen and (min-width: 1024px) {
			height: calc(33vw - 20px);
		}

		img {
			width: calc(100vw - 40px);
			height: auto;

			@media screen and (min-width: 600px) {
				width: auto;
				height: 100%;
			}
		}
	}

	&__play {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 40px;
		height: 40px;
		background: url("/litmus/images/play.png") no-repeat center $white;
		border: 0;
		outline: none;
		cursor: pointer;

		&:hover {
		}

		&.playing {
			background: url("/litmus/images/pause-blue.png") no-repeat center $white;

		}
	}

}

.episode-info {
	margin-bottom: 20px;
	background-color: $lightGrey;
	padding: 5px 10px 10px;

	&__title {
		font-family: $lato;
		display: block;
		font-size: 16px;
		margin-bottom: 10px;
	}

	&__description {
		@include bodyText;
		font-size: 14px;
	}

	&__date {
		display: block;
		font-family: $lato;
		font-size: 12px;
		margin-bottom: 15px;
		font-weight: bold;
	}

}
